body {
    background-color: #f4f4f4;
}
.ui.sidebar.menu {
    background-color: #448AFF;
}
.ui.secondary.menu {
    background-color: #FFFFFF;
}
.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    background: transparent;
    color: rgb(0, 0, 0);
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}



.ui.vertical.menu {
    width: 21rem;
}

.item {
    text-transform: uppercase;
    line-height: 64px;
    height: 64px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.item.header {
    font-size: 24px;
}



.ui.fixed.inverted.menu {
    box-shadow: 0 2px 2px 0
    rgba(0,0,0,0.14),
    0 3px 1px -2px
    rgba(0,0,0,0.12),
    0 1px 5px 0
    rgba(0,0,0,0.2);
}

.ui.secondary.menu {
    margin-left: 295px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.ui.secondary.menu a {
    font-size: 20px;
}




.main.container {
    margin-top: 7em;
}

.wireframe {
    margin-top: 2em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}


.sticky-content {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin-top: 34px;
  margin-left: 350px;
  margin-right: 50px;
}

.sticky-body { flex: 1; }
