{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/device/master.css') }}">
{% endblock %}

{% block body %}
<h1 class="ui center aligned header">마스터 등록</h1>

<div class="ui last container">
  <div class="ui three steps">
    <div class="active step">
      <div class="content">
        <div class="title">시리얼 번호 인증</div>
        <div class="description">구라인지 진짠지 구별</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">정보 입력</div>
        <div class="description">마스터 이름 설정</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">완료</div>
        <div class="description">마스터를 조종할 수 있게됩니다.</div>
      </div>
    </div>
  </div>
</div>

<div class="ui hidden divider"></div>

<form action="/master/enroll/check" method="POST">
    <div class="ui text container">
      <div class="ui segments">
        <div class="ui segment">
          <label>시리얼 번호</label>
          <div class="ui input fluid">
            <input type="text" name="serial" placeholder="시리얼 번호">
          </div>
        </div>
      </div>
      <button type="submit" class="ui active button right floated">
        <i class="user icon"></i>
        확인
      </button>
    </div>
</form>
{% endblock %}