{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/device/dashboard.css') }}">
{% endblock %}

{% block body %}
    {% if masters == None %}
        마스터 없음
    {% else %}
        <div class="ui special cards">
        {% for master in masters %}
          <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <a class="ui inverted button" href="{{ url_for('master_control', master_id=master.id) }}">
                        슬레이브 정보
                    </a>
                  </div>
                </div>
              </div>
              <img src="{{ url_for('static', filename='image/none.png') }}">
            </div>
            <div class="content">
              <a class="header">{{ master.name }}</a>
                <span class="">Serial: {{ master.serial }}</span>
              <div class="meta">

                <span class="date">Created in {{ master.create_date }}</span>
              </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="users icon"></i>
                    2 Members
                </a>
                <a href="{{ url_for('slave_enroll', master_id=master.id) }}">
                    <i class="plus icon"></i>
                    슬레이브 추가하기
                </a>
            </div>
          </div>
            {{ master.slavesx }}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}