{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/device/control.css') }}">
{% endblock %}

{% block body %}

<h1>{{ master.name }}</h1>

<table class="ui compact celled table">
  <thead>
    <tr>
      <th>슬레이브 이름</th>
      <th>현재 상태</th>
      <th>업데이트 상태</th>
      <th>주소</th>
      <th>업데이트 일자</th>
      <th>작동</th>
    </tr>
  </thead>
  <tbody>
    {% for slave in slaves %}
        <tr>
          <td>{{ slave.name }}</td>
          <td>{{ slave.state }}</td>
          <td>{{ slave.newdata }}</td>
          <td>{{ slave.RXAddr }}</td>
          <td>{{ slave.modify_date }}</td>
          <td>
            {% if (slave.state == 0) %}
            <form action="/master/{{master.id}}/slave/{{slave.id}}/control/on" method="POST">
              <button type="submit" class="positive ui button">켜기</button>
            </form>
            {% else %}
            <form action="/master/{{master.id}}/slave/{{slave.id}}/control/off" method="POST">
              <button type="submit" class="negative ui button">끄기</button>
            </form>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="6">
          <a class="ui right floated small primary labeled icon button"
             href="{{ url_for('slave_enroll', master_id=master.id) }}">
              <i class="plus icon"></i>
              슬레이브 추가하기
          </a>
          <form action="/master/{{master.id}}/slave/all/off" method="POST">
              <button type="submit" class="ui negative button">모든 기기 전력 차단</button>
          </form>
      </th>
    </tr>
  </tfoot>
</table>
{% endblock %}
