{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/device/master.css') }}">
{% endblock %}

{% block body %}
<h1 class="ui center aligned header">슬레이브 등록</h1>

<div class="ui last container">
  <div class="ui three steps">
    <div class="active step">
      <div class="content">
        <div class="title">정보 입력</div>
        <div class="description">슬레이브 정보 설정</div>
      </div>
    </div>
    <div class="step">
      <div class="content">
        <div class="title">완료</div>
        <div class="description">슬레이브를 조종할 수 있게됩니다.</div>
      </div>
    </div>
  </div>
</div>

<h2 class="ui center aligned header">슬레이브 정보 등록</h2>

<form action="/master/{{ master_id }}/slave/enroll" method="POST">
  <div class="ui text container">
    <div class="ui segments">
      <div class="ui segment">
        <label>이름</label>
        <div class="ui input fluid">
          <input name="name" type="text">
        </div>
      </div>
      <div class="ui segment">
        <label>시리얼 번호</label>
        <div class="ui input fluid">
          <input name="RXAddr" type="text">
        </div>
      </div>
    </div>
    <button type="submit" class="ui active button right floated">
      <i class="handshake outline icon"></i>
      등록
    </button>
  </div>
</form>


{% endblock %}