<div class="ui vertical buttons" style="width: 332px;">
    <form method="post" action="/wind/50">
      <button class="massive ui yellow button" style="height: 95px;" name="50">
        <i class="angle right icon"></i>
        약풍
      </button>
    </form>
    <form method="post" action="/wind/30">
      <button class="massive ui olive button" style="height: 95px;" name="30">
        <i class="angle double right icon"></i>
        중풍
      </button>
    </form>
    <form method="post" action="/wind/5">
      <button class="massive ui green button" style="height: 95px;" name="5">
        <i class="arrow circle right icon"></i>
        강풍
      </button>
    </form>
    <form method="post" action="/wind/100">
      <button class="massive ui red button" style="height: 95px;" name="99">
        <i class="pause icon"></i>
        정지
      </button>
    </form>
    <form method="post" action="/spin">
      <button class="massive ui grey button" style="height: 95px;" name="4">
        <i class="sync icon"></i>
        회전
      </button>
    </form>
    <form method="post" action="/spin/stop">
      <button class="massive ui red button" style="height: 95px;" name="99">
        <i class="pause icon"></i>
        정지
      </button>
    </form>
</div>
