{% extends 'layout.html' %}

{% block body %}
  <div class="ui container">
    <div class="ui icon message">
      <i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">
          {{ gettext('해당 페이지를 찾을 수 없습니다.') }}
        </div>
        <p>
          {{ gettext('접근하신 경로를 확인할 수 없습니다.') }}<br/>
          {{ gettext('문제가 지속적으로 발생할 경우 문의해주시기 바랍니다.') }}
          <div class="ui hidden fitted divider"></div>
          <a onclick="window.history.back()" class="ui basic button">{{ gettext('뒤로 가기') }}</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
