{% extends 'layout.html' %}

{% block body %}
  <div class="ui container">
    <div class="ui icon message">
      <i class="notched circle loading icon"></i>
      <div class="content">
        <div class="header">
          서버에 전달된 요청의 크기가 너무 큽니다.(REQUEST_ENTITY_TOO_LARGE)
        </div>
        <p>
          문제가 지속적으로 발생할 경우 문의해주시기 바랍니다.
          <div class="ui hidden fitted divider"></div>
          <a onclick="window.history.back()" class="ui basic button">뒤로 가기</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
